
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

#carousel__content {
  width: 60%;
  margin: auto;
  margin-top: 7%;
  position: relative;
}
.carousel-slider {
  display: flex;
  width: 100%;
  position: relative;
}
.slider__item {
  position: absolute;
  width: 100%;
  height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
}
.hidden {
  display: none;
}

button{
  position : absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
#prevBtn{
 left: 15%;
}
#nextBtn{
 right: 15%;
}
button:hover {
  color: lightsalmon;
  cursor: pointer;
}

/*
#slider .slider__item:nth-child(1) {
  background-image: url(images/4.jpg);
}


#slider .slider__item:nth-child(2) {
  background-image: url(images/2.jpg);
}

#slider .slider__item:nth-child(3) {
  background-image: url(images/3.jpg);
}

.showing {
  z-index: 1;
}
*/